{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "linebreak-style": ["error", "windows"],
    "prettier/prettier": ["error"],
    "react/state-in-constructor": ["error", "never"],
    "react/static-property-placement": ["error", "static public field"],
    "react/require-default-props": [0, { "forbidDefaultForRequired": false }],
    "react/default-props-match-prop-types": [
      0,
      { "allowRequiredDefaults": false }
    ],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "import/extensions": ["never"]
  }
}
