/* definitions for an "enlargeStar" class */
.StarPicker.enlargeStar {
  font-size: xx-large;
}

.StarPicker.enlargeStar .StarPickerButton .DefaultStarComponent {
  transition: transform 0.2s ease-in-out, color 0.4s;
}
.StarPicker.enlargeStar .StarPickerButton.selected .DefaultStarComponent {
  text-shadow: rgb(173, 140, 6) 1px 1px 1px;
  transform: scale(1.2);
}
