/* definitions for a "greenStars" class */
.StarPicker.greenStars .StarPickerButton.selected .DefaultStarComponent {
  color: #00ff88;
}
.StarPicker.greenStars .StarPickerButton.addSelection .DefaultStarComponent {
  color: #e4e4e4;
}
.StarPicker.greenStars .StarPickerButton.removeSelection .DefaultStarComponent {
  color: #88eebf;
}
