.StarPicker .StarPickerButton .DefaultStarComponent {
  transition: color 0.2s;
  color: #e4e4e4;
}

.StarPicker .StarPickerButton.selected .DefaultStarComponent {
  color: gold;
}

.StarPicker .StarPickerButton.addSelection .DefaultStarComponent {
  color: #e9e1b6;
}

.StarPicker .StarPickerButton.removeSelection .DefaultStarComponent {
  color: #eede88;
}
