.StarPickerButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.StarPickerButtonContent.halfStars {
  width: 1em; /* Set width relative to element's inherited font-size */
}
