.StarPickerButton {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  background: transparent;
  line-height: 100%;

  width: 1em; /* Relative to component root element's font-size */
}

.StarPickerButton.disabled {
  cursor: not-allowed;
}

.StarPickerButton.halfStars {
  overflow: hidden;
  direction: ltr;

  width: 0.5em; /* Relative to component root font-size */
}

.StarPickerButton.halfStars:nth-child(even) {
  direction: rtl;
}
